@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

// VARIABLES
$primary: #f16262;
$secondary: #ed8080;
$darkgrey: #3c3c3c;
$darkgrey-1: #404040;
$darkgrey-2: #636363;
$lightgrey: #cdcdcd;
$subtitle: #7b7b7b;
$white: #fff;

// GENERAL
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-weight: 500;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    padding: 25px 10px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1440px;
}
.btn-primary {
    padding: 12px 24px;
    border-radius: 100px;
    background-color: $primary;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    border: none;
}
.btn-secondary {
    padding: 12px 24px;
    border-radius: 100px;
    color: $primary;
    border: 1px solid $primary;
    font-weight: 800;
    background-color: white;
    font-size: 1.5rem;
}
.btn-outil{
    padding: 10px 20px;
    background-color: $secondary;
    width: fit-content;
    border-radius: 15px;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    margin: 5px 10px 10px 0;
    box-shadow: 0px 4px 4px 0px rgba(#000000, 0.25), 0px 0px 1px 0px rgba(#000000, 0.06);
}

// TITLE DES PARTIES
.title {
    padding: 20px 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    h2 {
        color: $primary;
        letter-spacing: 3px;
        font-size: 3rem;
        font-weight: 900;
    }
    h3 {
        font-size: 2.1rem;
        color: $subtitle;
    }
    .underline {
        width: 50%;
        height: 4px;
        background-color: $secondary;
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    .title {
        h2 {
            font-size: 1.9rem;
        }
        h3 {
            font-size: 1.15rem;
        }
        .underline {
            margin-top: 10px;
        }
    }
}

// HERO

#hero {
    min-height: 100vh;
    background-color: #3c3c3c;
    z-index: -2;
    position: relative;
    overflow: hidden;
    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .hero {
        display: flex;
        min-height: 100vh;
        .text {
            min-height: 100%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
                background-color: white;
                padding: 50px 10px;
                max-width: 800px;
                width: 100%;
                min-height: 350px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                border-radius: 500px;
                h1 {
                    color: $primary;
                    font-weight: 900;
                    letter-spacing: 5px;
                }
                h2 {
                    color: $darkgrey-1;
                    letter-spacing: 3px;
                    font-weight: 700;
                }
                h3 {
                    color: $darkgrey-1;
                    font-weight: 600;
                }
                .buttons {
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 40px;
                }
            }
        }
        .photo {
            padding: 0 50px;
            display: flex;
            align-items: flex-end;
        }
    }
    .custom-shape-divider-bottom-1643638019 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    .custom-shape-divider-bottom-1643638019 svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        height: 136px;
    }
    .custom-shape-divider-bottom-1643638019 .shape-fill {
        fill: #f16262;
    }
}
@media screen and (max-width: 1300px) {
    #hero {
        .hero {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .photo {
                margin-bottom: -250px;
            }
            .text {
                width: 100%;
                align-items: flex-end;
                padding-bottom: 40px;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    #hero {
        .wave {
            path {
                height: 90px;
            }
        }
        .hero {
            .photo {
                display: none;
            }
            .text {
                align-items: center;
                .content {
                    padding: 120px 10px;
                    text-align: center;
                    h1 {
                        font-size: 2.1rem;
                    }
                    h2 {
                        font-size: 1.5rem;
                        padding: 10px 0;
                    }
                    h3 {
                        font-size: 1.1rem;
                    }
                    .buttons {
                        grid-template-rows: repeat(2, 1fr);
                        grid-template-columns: 1fr;
                        row-gap: 20px;
                    }
                }
            }
        }
    }
}

// MOI

#moi {
    background-color: $primary;
    .moi {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 50px 20px 100px 20px;
        .cover {
            z-index: 0;
            aspect-ratio: 3/4;
            .portrait {
                border: 14px solid white;
                position: relative;
                background-color: $primary;
                margin: 36px;
                display: flex;
                align-items: flex-end;
                width: 330px;
                &::before {
                    content: "";
                    position: absolute;
                    top: -50px;
                    left: -50px;
                    width: calc(100% + 28px);
                    height: calc(100% + 28px);
                    border: 14px solid #ffb1b1;
                    z-index: -1;
                }
                img {
                    width: 100%;
                }
            }
        }
        .text {
            flex-grow: 1;
            max-width: 800px;
            margin-left: 50px;
            h2 {
                letter-spacing: 3px;
            }
            p {
                font-size: 1.5rem;
                text-align: justify;
                margin-top: 10px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    #moi {
        .moi {
            flex-direction: column;
            padding: 150px 20px 250px 20px;
            .cover {
                min-width: 240px;
                .portrait {
                    margin-right: 0px;
                }
            }
            .text {
                margin: 0;
                margin-top: 40px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    #moi {
        .moi {
            .cover {
                .portrait {
                    width: auto;
                }
            }
            .text {
                h2 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

// SERVICES

#services {
    align-items: flex-start;
    margin-top: -100px;
    .services {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .content {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            margin-top: 50px;
            img {
                max-width: 300px;
                margin: 0 30px;
            }
            .first {
                .item {
                    flex-direction: row-reverse;
                    .text {
                        text-align: right;
                    }
                }
            }
            .first,
            .second {
                display: grid;
                grid-auto-rows: minmax(110px, auto);
                row-gap: 100px;
                flex: 1;
            }
            .item {
                display: flex;
                .icon {
                    min-width: 54px;
                    height: 54px;
                    border: 2px solid $secondary;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    padding: 10px;
                    margin: 0 10px;
                    svg {
                        width: 100%;
                        height: 100%;
                        color: $secondary;
                    }
                }
                .text {
                    h4 {
                        font-size: 1.5rem;
                        color: $darkgrey;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 1rem;
                        color: $subtitle;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    #services {
        .services {
            .content {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 30px;
                img {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #services {
        .services {
            .content {
                grid-template-columns: repeat(1, 1fr);
                column-gap: 0px;
                margin-top: 20px;
                img {
                    display: none;
                }
                .first {
                    margin-bottom: 20px;
                    .item {
                        flex-direction: row;
                        .text {
                            text-align: left;
                        }
                    }
                }
                .first,
                .second {
                    row-gap: 20px;
                    grid-auto-rows: minmax(70px, auto);
                    .text {
                        h4 {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

// SKILLS
#skills{
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 50px;
            padding: 0 20px;
            margin-top: 50px;
            .item{
                margin-bottom: 50px;
                h2{
                    letter-spacing: 2px;
                }
                .underline{
                    height: 4px;
                    background-color: $secondary;
                    max-width: 250px;
                    margin-top: 10px;
                }
                .list{
                    margin-top: 20px;
                    &--item{
                        display: flex;
                        margin: 20px 0;
                        .icon{
                            margin-right: 10px;
                            color: $primary;
                            min-width: 25px;
                            min-height: 25px;
                            margin-top: 3px;
                        }
                        p{
                            font-size: 1.5rem;
                            font-weight: 700;
                            color: $darkgrey-2;
                        }
                    }
                }
                .outils{
                    h2{
                        margin-bottom: 10px;
                    }
                    &--list{
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1150px){
    #skills{
        .skills{
            .content{
                grid-template-columns: 1fr;
            }
        }
    }
}
@media screen and (max-width: 500px){
    #skills{
        .skills{
            .content{
                grid-template-columns: 1fr;
                padding: 0 10px;
                .item{
                    h2{
                        font-size: 1.5rem;
                    }
                    .underline{
                        max-width: 180px;
                    }
                    .list{
                        .icon{
                            min-width: 20px;
                            min-height: 20px;
                            margin-top: 0;
                        }
                        p{
                            font-size: 1rem;
                        }
                    }
                    .outils{
                        &--list{
                            .btn-outil{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
